body{
    background-image: url(resources/ดีไซน์ที่ยังไม่ได้ตั้งชื่อ\ \(7\).png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 180px;
}
h2{
    font-size: 150px;
}
h3{
    font-size: 100px;
}
.profileul{
    font-size: 40px;
}
table{
    text-align: left ;
}