body{
    background-image: url(resources/Anime_Pastel_Dream_gradient_light_grey_smoke_wallpaper_1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 180px;
}
h2{
    font-size: 150px;
}
h3{
    font-size: 100px;
}
.profileul{
    font-size: 40px;
}
table{
    text-align: left ;
}
#he{
    font-size: 150px;
    font-family: "Oswald", sans-serif;
    color: #FFFFF0;
}
.profileul{
    color: rgb(36, 19, 100);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100% ;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray;
    text-align: center;
}
nav {
    float: left;
    height: 200px;
    width: 20% ;
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray;
    text-align: center;
}
article {
    float: left;
    height: 200px;
    width: 60% ;
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray;
    text-align: center;
}
div {
    float: left;
    height: 200px;
    width: 20% ;
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray;
    text-align: center;
}
footer {
    width: 100%;
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray;
    text-align: center;
    clear: both;
}